﻿@using SiteTestDAL.Model

@{
    Layout = null;
}

@{
    SiteInfo model = ViewBag.Pages;
    }

@{
    List<double> response = model.PagesResponses.OrderByDescending(x => x.ResponseTimeMiddle).Select(x => x.ResponseTimeMiddle).ToList();
    List<int> names = new List<int>();
    for (int i = 0; i < response.Count; ++i) { names.Add(i); };

    var myChart = new Chart(width: 1500, height: 800)
    .AddTitle(ViewBag.url)
    .AddSeries(
    xValue: names,
    yValues: response).Save("~/Grapic/chart.jpeg", "jpeg");
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div id="graphic"><img src="~/Grapic/chart.jpeg" /> </div>
    <div id="table">
        <table id="table" border="1">
            <tr>
                <td>Urls</td>
                <td>Response Minimum</td>
                <td>Response Maximum</td>
                <td>Response Middle</td>
            </tr>
            @{
                foreach (PagesResponse pages in model.PagesResponses)
                {
                <tr>
                    <td><small>@pages.PageName</small></td>
                    <td><small>@pages.ResponseTimeMin</small></td>
                    <td><small>@pages.ResponseTimeMax</small></td>
                    <td><small>@pages.ResponseTimeMiddle</small></td>
                </tr>
                    }
                }
        </table>
    </div>
    <div id="buttonHome"><form action="/Home/Index">
        <button type="submit">Домой</button>
        </form></div>
</body>
</html>