﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#input {
    position: absolute;
    left: 25%;
    bottom: 52%;
}

#historyTable {    
    position: absolute;
    right: 30%;
    bottom: 41%;
}
#buttonHome {
    position: absolute;
    bottom: -30%;
    right: 45%;
}
#error {
    position: absolute;
    left: 35%;
    bottom: 55%;
}


#xmlErrorMessage {
    position: absolute;
}
#buttonHomeFromError {
    position: absolute;
    right: 54%;
    bottom: 50%;
}