﻿@using SiteTestDAL.Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
   
    <div id="error"><p>Error!</p>
    <p>@ViewBag.Message.PageName</p>
        <p >Check your URL, or sitemap.xml is not exsisting</p>       
    </div>
    <div id="buttonHomeFromError">
        <form action="/Home/Index">
            <button type="submit">Домой</button>
        </form>
    </div>
    
</body>
</html>