﻿@using SiteTestDAL.Model
@model string


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>


<body>

    @using (Html.BeginForm("Start", "Home", FormMethod.Post))
    {
        <div id="input">
            <p>Ведите сайт, который необходимо протестировать: </p>
            <input type="text" placeholder="URL сайта" size="40" name="Url" />
            <input type="submit" />
        </div>
    }
    @{
        if (ViewBag.History != null)
        {
            <div id="historyTable">
                <table border="1">
                    <tr>
                        <td>History</td>
                    </tr>

                    @foreach (SiteInfo info in ViewBag.History)
                {
                        <tr>
                            <td><a href="/History/Get/@info.Id">@info.SiteName</a></td>
                        </tr>
                    }

                </table>
            </div>
        }
    }

        </body>
</html>